
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #a18b8b;
h1{
    color: #692c06;
}
}
h2 {
    color: #692c06;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
h3 {
    color: #692c06;
}